body {
    background-image: linear-gradient(to bottom right,#33ccff, #ff99cc);
    font-family: 'Fuzzy Bubbles', cursive;
    margin: 150px;
    padding: 50px;
}

.h1 {
    text-align: center;
    font-size: 50px;
    color: #fff;
}

.intro {
    text-align: center;
    font-size: 40px;
    color: #fff;
}

.btn {
    background-color: #0a0a23;
    color: #fff;
    font-size: 30px;
    font-family: 'Fuzzy Bubbles', cursive;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1500px) {
    .portrait {
        width: 500px;
    }
}

/* For laptop screen sizes */
@media (min-width: 750px) and (max-width: 1500px) {
    .portrait {
        width: 400px;
    }
}

/* For mobile */
@media (max-width: 750px) {
    .portrait {
        width: 300px;
    }

    .bottom-left {
       width: 75%;
       font-size: 1em;
    }
}